<!--
@Author: xiaojiezhang
@Date:   2019-01-29T10:49:59-05:00
@Last modified by:   xiaojiezhang
@Last modified time: 2019-02-06T14:56:12-05:00
-->
<div class="row">
    <button id="ShowCustomers" class="btn btn-primary">Show All Customers</button>
    <form id="getcustomer"class="form-inline">
      <input class="form-control ml-sm-4 mr-sm-2" type="search" placeholder="Search Customer Id" name="id" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {{> updateform}}
</div>
<div class="row">
  {{> createbutton}}
</div>
<div class="table-wrapper-scroll-y">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">USERNAME</th>
        <th scope="col">PASSWORD</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE</th>
        <th scope="col">CreatedBy</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      {{#each customers as |customer|}}
        <tr>
          <section data-id="{{customer.id}}">
            <th scope="row">{{customer.id}}</th>
            <td>{{customer.username}}</td>
            <td>{{password customer.password}}</td>
            <td>{{customer.email}}</td>
            <td>{{phone customer.phone}}</td>
            <td>{{customer.user.email}}</td>
            {{#if (isdeleteproduct customer.user.email) }}
            <td><button class="deletecustomer btn btn-primary" data-id="{{customer.id}}">Delete</button></td>
            {{else}}
            <td><a>You can't Delete</a></td>
            {{/if}}
          </section>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
